/*==========  Desktop First Method  ==========*/

/* Medium Devices, Desktops */
@media only screen and (max-width : 1200px) {
	
	.order-call input[type="submit"] {margin: 5px 0 0 0;}
	.order-call_form {flex-direction: column;}		

	.product-delivery_icon {max-width: 35px; flex: 0 0 35px;}	
	.product-delivery_title {font-size: 13px; line-height: 18px;}

	.one-good_btn {font-size: 16px; padding: 0 10px;}
	
	.top-nav{text-align: right;}
		.top-nav ul{display: none;}
		.top-nav_btn{display: inline-block; margin: 13px 0 0; text-decoration: none;}
			.top-nav_btn .burger{display: inline-block; width: 35px; vertical-align: middle;}
				.top-nav_btn .burger span{display: block;height: 4px;border-radius: 2px;background: #fff;transition: all .3s;}
				.top-nav_btn .burger span+span{margin-top: 6px;}
			.top-nav_btn b{display: inline-block; font-size: 16px; line-height: 20px; color: #fff; font-weight: 400; vertical-align: middle; margin: 0 10px 0 0;}
			.top-nav_btn:hover .burger span{background-color: #00abf0; transition: all .3s;}

	.main-nav{display: none;}
	.catalog-btn{width: auto; padding: 15px 50px 15px 40px;}

	#contacts_step form input {width: 215px;}

	.order_item figure img {max-width: 57px; flex: 0 0 57px;}

	.get-box__item {
		height: 229px;}
	.get-box__title {
		font-size: 25px;}
	.get-box__content {
		padding: 28px 0 0 125px;}
	.get-box__list li {
		font-size: 20px;}

	.steps__item {
		height: 413px;}
	.steps__title {
		font-size: 13px;
		right: 21px;
		width: 149px;
		height: 82px;
		padding: 0 15px;}
	.steps__bottom {
		right: 26px;
		width: 90px;
		height: 31px;}
	.steps__item:last-child .steps__title {
		width: 138px;
		height: 86px;
		right: 18px;}
	.steps__fake-btn {
		font-size: 11px;
		top: 133px;
		left: 93px;
		width: 96px;
		height: 28px;}

	.discounts-table__col {
		max-width: 350px;
		flex: 1 1 350px;}
	.discounts-table__col:first-child {
		max-width: 220px;
		flex: 1 1 220px;}

}

/* Small Devices, Tablets */
@media only screen and (max-width : 991px) {

	.order_item .num {margin: 0 0 10px 0; align-self: flex-start;}
	.order_item .title {text-align: center;}
	.order_item figure {flex-direction: column;}
		.order_item figure img {flex: 0 0 auto; max-width: 100px; margin-bottom: 5px;}
	.order_item figcaption {padding: 0; margin: 0; border-left: none;}
	.order_item A.ct_minus, .order_item A.ct_plus {margin-left: 5px; margin-right: 5px;}

	.product-delivery {margin-bottom: 19px;}	
		.product-delivery_item {justify-content: flex-start; min-height: 0; width: 50%;}
		.product-delivery_title {text-align: left;}
		.product-delivery_text {width: auto;}

	.social-networks {flex-direction: column; align-items: flex-start; justify-content: center;}
		.social-networks_title {font-size: 16px; margin-bottom: 10px;}

	.logo-wrapper{display: block; width: 50%; height: 70px; float: left; margin: 10px 0 10px;}
	.header-contacts{display: block; float: left; width: 50%; height: 70px; margin: 10px 0 10px; text-align: right;}
		.sale_form_box{text-align: right;}
		.header-contacts_list{left: auto; right: 0;}
	.header-search{display: block; width: 50%; height: auto; float: left; padding: 0 10px 0 0; margin: 0 0 15px;}
	.header-icons{display: block; float: left; width: 50%; height: auto; margin: 0 0 10px; padding: 0 0 0 10px;}

	.one-good{height: auto; overflow: visible;}
		.one-good_wrapper:before{width: 100%; height: 100%; top: 0; left: 0; opacity: 1;}
		.one-good_wrapper{position: relative; padding: 10px;}

	.copyright{margin: 0 0 10px; text-align: center;}
	.development{margin: 0 0 10px;}
	.footer-payment{text-align: center;}

	#contacts_step form label {display: block;}
	#contacts_step form input {width: 100%;}

	.ob_one_logo {width: 170px;}

	.delivery_form .delivery-type > .field {
		max-width: 50%;
		flex-basis: 50%;
	}

	.get-box__item {
		height: 173px;}
	.get-box__title {
		font-size: 18px;
		margin: 0 0 5px;}
	.get-box__content {
		padding-left: 90px;}
	.get-box__list li {
		font-size:17px;}
	.get-box__list li + li {
		margin: 5px 0 0 0;}

	.steps {
		flex-wrap: wrap;}
	.steps__item {
		margin: 0 0 20px;
		background-position: 50% 0;
		max-width: 50%;
		flex: 1 0 50%;}
	.steps__title {
		right: 80px;}
	.steps__bottom {
		right: 84px;}
	.steps__fake-btn {
		left: 152px;}
	.steps__item:last-child .steps__title {
		right: 75px;}

	.discounts__title {
		font-size: 40px;}
	.discounts__subtitle {
		font-size: 25px;}

	.discounts-table__ribbon {
		width: 150px;
		font-size: 20px;
		top: 55px;}
	.discounts-table__col:first-child {
		margin-right: 20px;}
	.discounts-table__col {
		max-width: 300px;
		flex: 1 1 300px;}
	.discounts-table__col:first-child {
		max-width: 160px;
		flex: 1 1 160px;}
	.discounts-table__cell {
		font-size: 25px;
		height: 60px;
		padding: 0 0 0 35px;}
	.discounts-table__title {
		font-size: 20px;
		height: 60px;}

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 767px) {

	.top-line {
		text-align: center;
		direction: rtl;}

	.header-menu {
		clear: both;
		width: 100%;
		text-align: center;
		margin-bottom: 5px;
		direction: rtl;}

	.header-menu li {
		margin: 0 5px;
	}

	.header-lang,
	.header-reg {
		direction: ltr;
		float: none;
		display: inline-block;
		vertical-align: top;
	}

	.filters-box_title {margin-bottom: 10px;}
	.filters-box_col {width: 100%; margin-bottom: 5px;}

	.product-center_title .product-center_icons {padding: 10px 0 0 0; text-align: left; float: none; top: 0;}

	.details-tabs_links ul li {width: 100%;}

	.filters-box {flex-direction: column; align-items: center;}
		.filters-box_col + .filters-box_col {margin-left: 0;}

	.info-table {flex-direction: column;}
		.info-table_title {margin-bottom: 0;}
		.info-table_value {height: auto;}
		.info-table .col-2 {width: 100%;}
		.info-table .counter {display: flex; justify-content: center; padding: 5px 0;}

	.order_btn_wrapper {text-align: center;}
		.order_btn_wrapper .order_btn {float: none; margin: 0 auto;}

	.fullwidth-box {padding: 20px 0 25px;}
		.fullwidth-box [class*="col-"], .fullwidth-box [class^="col-"] {height: auto;}

	.social-networks {align-items: center; margin-bottom: 20px;}
		.social-networks_title {margin-right: 0;}

	.divider:after {display: none;}

	.subscribe-form {padding-left: 0;}

	.main-slider_slide{height: 300px;}

	.shop-advantages_item{display: block; float: left; width: 100%; margin: 0 0 15px; border: none; text-align: center;}
		.shop-advantages_item_text{padding: 60px 0 0;}
		.shop-advantages_item_icon{top: 0; left: 50%; margin-left: -25px; margin-top: 0;}

	.most-interest_links{border-bottom: none;}
	.most-interest_links ul{width: 100%;}
		.most-interest_links ul li{width: 100%;}
			.most-interest_links ul li .link-wrapper{border: 1px solid #ddd; margin: 0 0 15px;}
				.most-interest_links ul li .link-wrapper i{display: block; position: absolute; font-size: 20px; line-height: 22px; top: 9px; right: 15px;}
			.most-interest_links ul li .link-wrapper.active{border-bottom-color: #ddd;}
	.most-interest_title{position: relative; width: 100%; margin: 0 0 20px;}

	.footer-nav{text-align: center;}
		.footer-nav_title{display: inline-block; margin: 0 0 10px; position: relative; padding: 0 20px; cursor: pointer;}
			.footer-nav_title i{display: block; position: absolute; font-size: 18px; line-height: 18px; color: #444; top: 1px; right: 0;}
		.footer-nav ul{padding: 0 0 10px 0; display: none;}
			.footer-nav li a span{display: none;}

	.footer-contacts{text-align: center;}
		.footer-contacts_title{display: inline-block; margin: 0 0 10px; position: relative; padding: 0 20px; cursor: pointer;}
			.footer-contacts_title i{display: block; position: absolute; font-size: 18px; line-height: 18px; color: #444; top: 1px; right: 0;}
		.footer-contacts_wrapper{display: none;}
		.footer-contacts_item{padding: 0; min-height: 1px;}
			.footer-contacts_icon{display: none;}

	.get-box__item {
		height: auto;
		margin: 0 0 20px;}
	.get-box__icon {
		display: none;}
	.get-box__content {
		padding: 20px;
		background-color: #00abf0;
		background-image: none;}

	.steps {
		display: block;}
	.steps__item {
		max-width: 260px;
		margin-left: auto;
		margin-right: auto;}
	.steps__item:last-child .steps__title {
		right: 33px;}
	.steps__title {
		right: 37px;}
	.steps__fake-btn {
		left: 109px;}
	.steps__bottom {
		right: 42px;}

}

/* Custom Devices, Phones */
@media only screen and (max-width : 480px) {

	.product-delivery_item {width: 100%;}

	.subscribe-form {flex-direction: column;}
		.subscribe-form input[type="email"] {margin: 0 0 10px 0;}
	
	.header-lang{margin: 0;}
	.header-lang a{padding: 8px 8px 8px 26px;}
		.header-lang a:before{left: 6px;}
	
	.logo-wrapper{width: 100%; text-align: center; height: auto;}
	.header-contacts{display: none;}
	.header-search{width: 100%; padding: 0;}
	.header-icons{width: 100%; padding: 0; text-align: center;}

	.catalog-btn span{display: none;}
	.catalog-btn{padding: 15px 10px 15px 35px;}
		.catalog-btn b{left: 10px;}

	.main-slider_slide{height: 200px;}
	
	.news-item{margin: 0 0 30px;}
	.news-item_img{width: 100%; text-align: center; margin: 0 0 10px;}
	.news-item_text{width: 100%; padding: 0;}
		.news-item_title{text-align: center;}

	.discounts-table__title {
		font-size: 15px;
		padding: 0 10px;}
	.discounts-table__cell {
		font-size: 16px;}
	.discounts-table__col:last-child .discounts-table__cell {
		padding: 0 10px;}
	.discounts__subtitle {
		font-size: 20px;}

	.discounts-table {
		background-image: none;
		justify-content: space-between;
		padding-top: 20px;
		padding-left: 0;
		padding-right: 0;}
	.discounts-table__col:first-child {
		max-width: 27%;
		flex: 1 1 27%;}
	.discounts-table__cell {
		justify-content: center;
		padding: 0;
		text-align: center;}
	.discounts-table__title {
		font-size: 12px;}
	.discounts-table__ribbon {
		width: 133px;
		height: 40px;
		font-size: 16px;}

}
