@charset "utf-8";
/*--------------------------------------------------     Admin CSS Document of SUFIX © 2013. All rights reserved     ------------------------------------------------------*/
/*----------------------------------------------------------------     Вигляд всіх табличних структур     -----------------------------------------------------------------*/

/* загальна таблична структура
---------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.admin_menu {width:100%;}
	.admin_menu UL {position:relative; float:left; width:100%;}
		.admin_menu UL LI {position:relative; float:left; width:100%;}
			.admin_menu UL LI.th .holder {background:#e9e9e9; border-bottom:3px solid #d7d7d7; height:30px;}
				.admin_menu UL LI.th .holder .auto {padding:0 6px; vertical-align:middle;}
			.admin_menu UL LI .holder,.admin_menu UL LI.grey UL LI .holder,.admin_menu UL LI.grey UL LI.grey UL LI .holder,
			.admin_menu UL LI.grey UL LI.grey UL LI.grey UL LI .holder {width:100%; display:table; background:#fff; transition:all 0.3s linear 0s;}
			.admin_menu UL LI.grey .holder,.admin_menu UL LI.grey UL LI.grey .holder,.admin_menu UL LI.grey UL LI.grey UL LI.grey .holder,
			.admin_menu UL LI.grey UL LI.grey UL LI.grey UL LI.grey .holder {background:#f0f0f0; transition:all 0.3s linear 0s;}
			.admin_menu UL LI .holder.active {background:#ffe0e0 !important; transition:all 0.3s linear 0s;}
																									  
				.admin_menu UL LI.grey .holder .cell,.admin_menu UL LI.grey UL LI.grey .holder .cell,.admin_menu UL LI.grey UL LI .holder.active .cell,
				.admin_menu UL LI .holder.active .cell,.admin_menu UL LI.grey UL LI.grey UL LI .holder.active .cell,
				.admin_menu UL LI.grey UL LI.grey UL LI.grey .holder .cell,.admin_menu UL LI.grey UL LI.grey UL LI.grey UL LI .holder.active .cell,
				.admin_menu UL LI.th .holder .cell,.admin_menu UL LI.grey UL LI.grey UL LI.grey UL LI.grey .holder .cell
				 {border-right:1px solid #fff; transition:all 0.3s linear 0s;}
				
				.admin_menu UL LI.grey UL LI .holder .cell,.admin_menu UL LI.grey UL LI.grey UL LI .holder .cell,
				.admin_menu UL LI.grey UL LI.grey UL LI.grey UL LI .holder .cell {border-right:1px solid #f0f0f0; transition:all 0.3s linear 0s;}
				
				.holder .cell:last-child,.admin_menu UL LI:hover .last_edit,.admin_menu UL LI.grey .holder .cell:last-child,
				.admin_menu UL LI:hover .cell:last-child,.admin_menu UL LI.grey UL LI.grey .holder .cell:last-child,
				.admin_menu UL LI.grey UL LI .holder.active .cell:last-child,.admin_menu UL LI.grey UL LI.grey UL LI .holder.active .cell:last-child,
				.admin_menu UL LI.grey UL LI.grey UL LI.grey .holder .cell:last-child,.admin_menu UL LI.th .holder .cell:last-child,
				.admin_menu UL LI.grey UL LI.grey UL LI.grey UL LI .holder.active .cell:last-child,
				.admin_menu UL LI.grey UL LI.grey UL LI.grey UL LI.grey .holder .cell:last-child {border:none;}
				/* види комірок таблиці
				---------------------------------*/
				.holder .cell {display:table-cell; border-right:1px solid #f0f0f0; font:15px/18px Tahoma; width:auto; height:25px; vertical-align:middle; padding:5px 6px; text-align: left;}
				@media (min-resolution: .001dpcm) {_:-o-prefocus, .holder .cell {padding:8px 6px;};}
				.holder .cell Img {position:relative; float:left; vertical-align:middle;}
				.admin_menu UL LI .holder .cell.last_edit {width:5px; border:none !important; padding:0;}
				.holder .cell.last_edit.active,.admin_menu UL LI:hover .holder .cell.last_edit.active {background:#A32D2D;}
				.holder .cell.w_10 {width:10px;}
				.holder .cell.w_20 {width:20px;}
				.holder .cell.w_24 {width:24px;}
				.holder .cell.w_30 {width:30px;}
				.holder .cell.w_40 {width:40px;}
				.holder .cell.w_50 {width:50px;}
				.holder .cell.w_60 {width:60px;}
				.holder .cell.w_65 {width:65px;}
				.holder .cell.w_70 {width:70px;}
				.holder .cell.w_80 {width:80px;}
				.holder .cell.w_90 {width:90px;}
				.holder .cell.w_100 {width:100px;}
				.holder .cell.w_120 {width:120px;}
				.holder .cell.w_140 {width:140px;}
				.holder .cell.w_160 {width:160px;}
				.holder .cell.w_180 {width:180px;}
				.holder .cell.w_200 {width:200px;}
				.holder .cell.w_220 {width:220px;}
				.holder .cell.w_250 {width:250px;}
				.holder .cell.w_300 {width:300px;}
				.holder .cell.w_350 {width:350px;}
				.holder .cell.w_400 {width:400px;}
				.holder .cell .ribbon {position:absolute; top:0; left:114px; width:44px; height:44px; z-index:1; background-image:none; text-align:center;
				                       border-radius:0 0 40px 0; box-shadow:2px 2px 3px #666;}
				.holder .cell .ribbon.hit {background:#efdc2f;
										background:-moz-linear-gradient(-45deg, #efdc2f 0%, #f77b00 100%);
										background:-webkit-gradient(linear, left top, right bottom, color-stop(0%,#efdc2f), color-stop(100%,#f77b00));
										background:-webkit-linear-gradient(-45deg, #efdc2f 0%,#f77b00 100%);
										background:-o-linear-gradient(-45deg, #efdc2f 0%,#f77b00 100%);
										background:-ms-linear-gradient(-45deg, #efdc2f 0%,#f77b00 100%);
										background:linear-gradient(135deg, #efdc2f 0%,#f77b00 100%);
										filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#efdc2f', endColorstr='#f77b00',GradientType=1);}
				.holder .cell .ribbon.promo {background:#ff3232;
										     background:-moz-linear-gradient(-45deg, #ff3232 0%, #ba0000 100%);
										     background:-webkit-gradient(linear, left top, right bottom, color-stop(0%,#ff3232), color-stop(100%,#ba0000));
										     background:-webkit-linear-gradient(-45deg, #ff3232 0%,#ba0000 100%);
										     background:-o-linear-gradient(-45deg, #ff3232 0%,#ba0000 100%);
										     background:-ms-linear-gradient(-45deg, #ff3232 0%,#ba0000 100%);
										     background:linear-gradient(135deg, #ff3232 0%,#ba0000 100%);
										     filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3232', endColorstr='#ba0000',GradientType=1);}
				.holder .cell .ribbon.new {background:#5cf731;
										   background:-moz-linear-gradient(-45deg, #5cf731 0%, #028900 100%);
										   background:-webkit-gradient(linear, left top, right bottom, color-stop(0%,#5cf731), color-stop(100%,#028900));
										   background:-webkit-linear-gradient(-45deg, #5cf731 0%,#028900 100%);
										   background:-o-linear-gradient(-45deg, #5cf731 0%,#028900 100%);
										   background:-ms-linear-gradient(-45deg, #5cf731 0%,#028900 100%);
										   background:linear-gradient(135deg, #5cf731 0%,#028900 100%);
										   filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#5cf731', endColorstr='#028900',GradientType=1);}
				.holder .cell .ribbon.discount {background:#2fc2ef;
												background:-moz-linear-gradient(-45deg, #2fc2ef 0%, #0041c4 100%);
												background:-webkit-gradient(linear, left top, right bottom, color-stop(0%,#2fc2ef), color-stop(100%,#0041c4));
												background:-webkit-linear-gradient(-45deg, #2fc2ef 0%,#0041c4 100%);
												background:-o-linear-gradient(-45deg, #2fc2ef 0%,#0041c4 100%);
												background:-ms-linear-gradient(-45deg, #2fc2ef 0%,#0041c4 100%);
												background:linear-gradient(135deg, #2fc2ef 0%,#0041c4 100%);
												filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#2fc2ef', endColorstr='#0041c4',GradientType=1);}
					.holder .cell .ribbon B {font:11px/10px Arial; transform:rotate(-45deg); position:relative; float:left; width:44px; height:31px; padding:13px 0 0 0;
					                         color:#fff;}
					.holder .cell .ribbon.hit B {padding:6px 0 0 0; width:44px; height:38px;}
				.holder .cell.number {color:#B2B2B2; font:12px/18px Tahoma; text-align:right;}
				.holder .cell.data {color:#B2B2B2; font:12px/18px Tahoma; text-align:center;}
				.holder .cell.no_padding {padding:0;}
				.holder .cell.icon A {width:15px; height:15px; background:url(../img/icons_2.png) no-repeat; position:relative; float:left; left:50%; margin:0 0 0 -8px;}
				
				LI.th .holder .cell {color:#B2B2B2; font:12px/18px Tahoma; text-align:center;}

						LI.th .holder A.sort_cell {color:#B2B2B2; font:15px/20px Arial; text-decoration:none; background:none;}
						LI.th .holder A.sort_cell:hover {color:#474747;}
						LI.th .holder A.sort_cell.up {background:url(../img/sort_cell.png) no-repeat 0 4px; padding:0 0 0 20px;}
						LI.th .holder A.sort_cell.down {background:url(../img/sort_cell.png) no-repeat 0 -87px; padding:0 0 0 20px;}
						LI.th .holder A.default_sorting {background:url(../img/sort_cell.png) no-repeat 0 -178px #B2B2B2; width:15px; height:15px; position:relative;
						                                 float:right; top:3px; border-radius:8px; transition:background-color 0.2s linear 0s;}
						LI.th .holder A.default_sorting:hover {background-color:#a32d2d; transition:background-color 0.2s linear 0s;}
				.holder .short.good_price {padding:0 6px; color:#B2B2B2; font:12px/14px Arial;}
					LI.th .holder .short.good_price {text-align:center;}
					.holder .short.good_price B {color:#000; font:bold 15px/20px Arial;}
				.per_page {margin:-10px 15px 10px; color:#474747; font:12px/15px Arial;}
					.per_page Span {position:relative; float:left; margin:0 5px;}
					.per_page A {color:#ceaa3a; text-decoration:none; position:relative; float:left; margin:0 5px; transition:all 0.2s linear 0s;}
					.per_page A:hover {color:#a32d2d; transition:all 0.2s linear 0s;}
					.per_page A.active {color:#a32d2d; font:bold 15px/15px Arial;}
				/* колонка з назвою пункта меню
				---------------------------------*/
				Span.menu_item {width:100%; position:relative; float:left;}
					.admin_menu UL LI UL LI Span.menu_item {width:94%;}
						.admin_menu UL LI UL LI UL LI Span.menu_item {width:89%;}
							.admin_menu UL LI UL LI UL LI UL LI Span.menu_item {width:84%;}
							.admin_menu UL LI UL LI Span.menu_item, .admin_menu UL LI UL LI Span.menu_item A,.admin_menu UL LI UL LI Span.seo_item {font-weight:normal;}
							.holder Div Span.menu_item.through A {text-decoration:line-through; color:#f00;}
					.holder Div Span.menu_item, .holder Div Span.menu_item A,.holder Div Span.seo_item {background:none; color:#000; text-decoration:none; font-weight:bold; position:relative;}
					.holder Div Span.menu_item A:hover {text-decoration:underline;}
						.holder Div Span.menu_item I {font-style:normal; color:#f00;}
					Span.menu_item Input[type=text] {margin:0; padding:6px 1%; color:#505050; font:15px/20px Arial; width:98%; height:17px; background:#fff; outline:none;
		                                             border:1px solid #ccc; border-radius:5px; transition:border 0.3s linear 0s, color 0.2s linear 0s;}
					Span.menu_item Input[type=text]:focus {border:1px solid #8c8c8c; color:#000; transition:border 0.3s linear 0s, color 0.2s linear 0s;}
					.holder .auto B,B.pimp {position:relative; float:left; min-width:5px; height:9px; background:url(../img/menu_level.png) no-repeat right top; top:1px;
					                        left:0; width:5%; margin:0 1% 0 0;}
					B.pimp {left:13px;}
						.admin_menu UL LI UL LI UL LI .holder .auto B {width:10%;}
							.admin_menu UL LI UL LI UL LI UL LI .holder .auto B {width:15%;}
				.for_link_set {width:100%; height:auto; padding:15px 0 10px 0; display:none;}
					.for_link_set .evry_title {margin:0;}
				/* іконки в колонках
				---------------------------------*/
				.holder .icon A.edit {background-position:-4px -4px;}
				.holder .icon A.edit:hover {background-position:-4px -27px;}
				.holder .icon A.edit.active {background-position:-24px -26px;}
				.holder .icon A.send_ico {background-position:-235px -4px;}
				.holder .icon A.send_ico:hover {background-position:-256px -4px;}
				.holder .icon A.add_subscriber {background-position:-217px -28px;}
				.holder .icon A.add_subscriber:hover {background-position:-238px -28px;}
				.holder .icon A.single_arrows {background-position:-107px -61px; cursor:n-resize;}
				.holder .icon A.single_arrows:hover {background-position:-129px -61px;}
				.holder .icon A.single_arrows.double_arrows {background-position:-151px -61px;}
				.holder .icon A.single_arrows.double_arrows:hover {background-position:-173px -61px;}
				.holder .icon A.hide-show {background-position:-45px -26px;}
				.holder .icon A.hide-show.active {background-position:-45px -4px;}
				.holder .cell .number {text-align:right; padding:0 6px 0 0; color:#B2B2B2; font:12px/14px Arial;}
				.cell .step_left,.cell .step_right,.cell .double_step_right {width:21px; min-height:1px;}
				.cell .step_left {margin:0 0 0 3px;}
					.cell.icon .step_left A,.cell.icon .step_right A,.cell.icon .double_step_right A {background:url(../img/icons_2.png) no-repeat -65px -50px;
					                                                                                  position:relative; width:15px; height:15px; float:left;}
					.cell.icon .step_left A:hover {background-position:-65px -73px;}
					.cell.icon .step_right A {background-position:-42px -50px;}
					.cell.icon .step_right A:hover {background-position:-42px -73px;}
					.cell.icon .double_step_right A {background-position:-87px -50px;}
					.cell.icon .double_step_right A:hover {background-position:-87px -73px;}
				.holder .cell A.noset_link {color:#B2B2B2; background:none; text-decoration:none; font:12px/14px Arial; width:100%; text-align:center; position:relative;
				                            float:left; left:auto; margin:0;}
				.holder .cell A.noset_link:hover {color:#A32D2D;}
				.holder .icon A.main_page {background-position:-193px -4px;}
				.holder .icon A.main_page:hover {background-position:-213px -4px;}
				.holder .icon A.main_page.active {background-position:-173px -4px;}
				.holder .icon A.delete {width:17px; height:20px; background-position:-107px -3px; margin:3px 0 0 -8px;}
				.holder .icon A.delete:hover {background-position:-107px -24px; margin:-1px 0 0 -8px;}
				.holder .icon A.picture {background-position:-312px -58px;}
				.holder .icon A.picture.active {background-position:-288px -58px;}
				.holder .icon A.picture:hover {background-position:-264px -58px;}
				.add_items {display:none; position:absolute; top:0; left:auto; width:36px;}
					.add_items A {position:absolute; width:12px; height:12px; background:url(../img/icons_2.png) no-repeat;}
					.add_items A.up_add {background-position:-221px -62px; top:3px; left:0;}
						.add_items A.up_add:hover {background-position:-175px -28px;}
					.add_items A.down_add {background-position:-221px -76px; top:20px; left:0;}
						.add_items A.down_add:hover {background-position:-175px -42px;}
					.add_items A.child_add {background-position:-242px -70px; top:13px; right:6px;}
						.add_items A.child_add:hover {background-position:-196px -36px;}
						.add_items A.child_add.no_active,.add_items A.down_add.no_active,.add_items A.up_add.no_active {display:none;}
				.holder .icon A.link {background-position:-66px -4px; margin:0 0 0 -7px;}
				.holder .icon A.link:hover {background-position:-66px -27px;}
				.holder .icon .check,.admin_menu UL LI.th .icon .check {background-position:-46px -96px; cursor:pointer; height:15px; width:14px;}
				.holder .icon .check.active,.admin_menu UL LI.th .icon .check.active {background-position:-67px -96px;}
				.holder A.delete_selected {color:#f00; text-decoration:none; background:none;}
				.holder A.delete_selected:hover {text-decoration:underline;}
					.holder A.delete_selected.no_cell {position:absolute; top:0; left:42px; background:#e9e9e9; width:auto; height:25px; padding:7px 0 3px;
					                                   font:15px/20px Arial;}
				.holder .icon A.duble_click {background-position:-176px -95px;}
				.holder .icon A.duble_click:hover {background-position:-201px -95px;}
				A.text_link {color:#A32D2D; font:15px/20px Arial; text-decoration:none; background:none;}
				A.text_link:hover {text-decoration:underline;}
		/* пагінатор в адмінці
		---------------------------------*/	
		.admin_paginator {width:100%; margin:20px 0;}
			.admin_paginator .paginator A,.admin_paginator .paginator Strong,.admin_paginator .paginator Span
			{color:#474747; font:15px/20px Arial; text-decoration:none; position:relative; float:left; width:30px; height:25px; padding:5px 0 0 0; background:#e9e9e9;
			 margin:0 1px 0 0; transition:all 0.2s linear 0s;}
			.admin_paginator .paginator Strong,.admin_paginator .paginator A:hover {background:#fff; transition:all 0.2s linear 0s;}
			.admin_paginator .paginator Strong {font-weight:bold; box-shadow:none;}
			.admin_paginator .paginator Span {background:none; color:#ccc;}
		/* редагування фото
		---------------------------------*/
		.photo_cut,.images_list {width:100%;}
			.images_list UL LI {margin:12px;}
			.photo_holder {position:relative; float:left; border:1px solid #CCC; border-radius:5px;}
				.photo_holder Div {text-align:center; vertical-align:middle; display:table-cell;}
					.photo_holder Img {vertical-align:middle; border-radius:5px;}
			.photo_cut .links {width:100%; background:url(../img/opacity.png) repeat; position:absolute; bottom:0; left:0;}
				.photo_cut .links A {margin:5px 12px 4px 8px; color:#000; text-decoration:none; font-family:Arial, Tahoma, serif; font-size:14px; line-height:18px;
				                     background:none;}
				.photo_cut .links A:hover {text-decoration:underline;}
					.links A.fpc_edit B,.links A.fpc_delete B,.links A.fpc_watermark B {background:url(../img/icons_2.png) no-repeat -4px -5px; width:16px; height:21px;
																						position:relative; float:left; top:1px; padding:0 4px 0 0;}
					.links A.fpc_delete B {background-position:-109px -3px;}
					.links A.fpc_watermark B {background-position:-249px -94px;}
					.links A.fpc_delete:hover B {background-position:-107px -24px; top:-1px; left:-1px;}
		.crop_area {box-shadow:0 0 10px #444; border-radius:5px 5px 0 0; background:#f8f8f8;}
			.ca_panel {background:#fff; border-radius:5px 5px 0 0; width:100%;}
				.crop_area .ca_panel A,.watermark_area .ca_panel A {margin:5px 12px 4px 8px; color:#000; text-decoration:none; font-family:Arial, Tahoma, serif;
				                                                    font-size:14px; line-height:18px; font-weight:normal; background:none;}
				.ca_panel A:hover,.ca_panel Label:hover {text-decoration:underline;}
				.ca_panel A.ca_save B,.ca_panel A.ca_cencel B {background:url(../img/icons_2.png) no-repeat -4px -5px; width:16px; height:21px; position:relative;
				                                               float:left; top:1px; padding:0 4px 0 0; margin:0;}
				.ca_panel A.ca_save B {background-position:-24px -3px;}
				.ca_panel A.ca_cencel B {background-position:-128px -3px;}
				.ca_panel Span {color:#000; float:left; margin:4px 0 0 8px; position:relative;}
			.crop_review {width:200px; margin:20px;}
				.crop_prew_border {border:1px solid #f0f0f0;}
				.jcrop-holder {margin:20px 0;}
		/* Водяний знак
		---------------------------------*/
		.watermark_tiles {position:relative; float:left;}
			/*.holder */Div.watermark_tiles A {position:absolute; border:1px solid #ccc; border-top:none; border-right:none; background:none;}
				/*.holder */Div.watermark_tiles A:nth-child(7),/*.holder */ Div.watermark_tiles A:nth-child(8),/*.holder */ Div.watermark_tiles A:nth-child(9) {border-bottom:none;}
			/*.holder */ Div.watermark_tiles A:hover {background:#f4f4f4; opacity:0.5;}
			/*.holder */ Div.watermark_tiles A.active {background:#999; opacity:0.5;}
	/* при перетягуванні рядків
	---------------------------------*/
	.ui-state-highlight {border:1px dotted #A32D2D;}
	.ui-nestedSortable-error {background:#a32d2d;}
    .admin_menu .holder.hidden {display:table !important;}
    .admin_base * {box-sizing:content-box;}