@charset "utf-8";
/* CSS Document of Bereka CMS © 2013. All rights reserved */
.short .qq-upload-button{padding: 0; text-align: left; background: none; border: none; text-decoration: underline; color: #000}
.adm_hidden{display: none!important;}

.crop_modal {position: absolute; left:50%; top: 50px; z-index:999; width:1000px; height:190px; margin:0 0 0 -500px;box-shadow:0 0 20px #000;}
.watermark_modal {position:fixed; left:50%; top: 50px; z-index:999; width:1000px; height:190px; margin:0 0 0 -500px;box-shadow:0 0 20px #000;}
/*.images_list .ui-state-highlight{float: left}*/
.crop_source{margin-left: 40px}
