/*	General CSS resets;
 *		The target itself is not affected, allowing
 *		the remainder of the document to use an
 *		alternate box-sizing model;
 *		Support for box-sizing is wide spread:
 *		http://caniuse.com/#search=box-sizing
 */
	.noUi-target * {
-webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
		box-sizing: border-box;
-webkit-touch-callout: none;
    -ms-touch-action: none;
-webkit-user-select: none;
   -moz-user-select: none;
    -ms-user-select: none;
		cursor: default;
	}

/*	Main slider bar;
 */
	.noUi-base {height:2px; width:100%; position:relative; max-width:100%; z-index:1; top:7px;}

/*	Handles + active state;
 */
	.noUi-handle {background:#00abf0; height:20px; width:20px; margin:-9px 0 0 -1px; border-radius:50%; cursor:pointer;}
	.noUi-handle.noUi-handle-upper{margin: -9px 0 0 -19px;}
	.noUi-active {}
	.noUi-active:after {content:""; display:block; height:100%;}

/*	Styling-only classes;
 *		Structured to prevent double declarations
 *		for various states of the slider.
 */
	.noUi-connect {
		background: Teal;
	}
	.noUi-background {background:#a6a6a6;}

/*	Functional styles for handle positioning;
 *		Note that the origins have z-index 0, the base has
 *		z-index 1; This fixes a bug where borders become invisible.
 */
	.noUi-origin {position:absolute; right:0; top:0; bottom:0; z-index:0; background:#00a8dd;}
	.noUi-origin-upper {
		background: inherit !important;
	}
	.noUi-z-index {
		z-index: 10;
	}

/*	Adaptations for the vertical slider;
 */
	.noUi-vertical {
		height: 300px;
		width: 40px;
		max-height: 100%;
	}
	.noUi-vertical .noUi-origin {
		bottom: 0;
		left: 0;
	}
	.noUi-vertical .noUi-handle  {
		margin: -23px 0 0 -3px;
	}

/*	Various alternate slider states;
 *	Support for transition is widely available,
 *	Only IE7, IE8 and IE9 will ignore these rules.
 *	Since this is merely a progressive enhancement,
 *	this is no problem at all.
 *	http://caniuse.com/#search=transition
 */
	.noUi-target[disabled] .noUi-base {
		background: #999;
	}
	.noUi-target[disabled] .noUi-connect {
		background: #BBB;
	}
	.noUi-state-tap .noUi-origin {
		-webkit-transition: left 0.3s, top 0.3s;
		transition: left 0.3s, top 0.3s;
	}